#accordion .item {
    margin-bottom: 0.25rem;
}

#accordion .title {
    display: block;
    position: relative;
    background: #465775;
    color: #f0f0f0;
    padding: 0.75rem;
    cursor: pointer;
    border: 1px solid #465775;
}

#accordion .title:after {
    display: block;
    position: absolute;
    right: 1%;
    top: 10%;
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 1.5rem;
}

#accordion .title.active:after {
    display: block;
    content: "\f106";
}

#accordion .text {
    display: none;
    padding: 0.75rem;
    border: 1px solid #465775;
}